In [1]:
f = open('data.txt','r')
s = f.read()
f.close()
print(s)

126 Lilo  12.5 8.2 7.1 3.2
456 Steve 4.0 10.4 6.5 2.7 12
789 Janne 6.0 8.0 8.0 8.5 7.5

In [2]:
def numWords(filename):
    '''returns the number of words in file   
    filename'''

    infile = open(filename)
    content = infile.read()
    infile.close()
    wordList = content.split()

    return len(wordList)
numWords('data.txt')

20

In [3]:
input = open("data.txt")
for line in input:
    print(line.strip())
input.close()

126 Lilo  12.5 8.2 7.1 3.2
456 Steve 4.0 10.4 6.5 2.7 12
789 Janne 6.0 8.0 8.0 8.5 7.5

In [4]:
w = open('text.txt','a')
w.write('This is Sparta\n')
w.write('The End!\n')
w.close()

f = open('text.txt','r')
s = f.read()
f.close()
print(s)

This is Sparta
The End!This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!

In [5]:
with open('text.txt','a')as w:
    w.write('This is Sparta\n')
    w.write('The End!\n')

with open('text.txt','r') as f:
    s = f.read()
    print(s)

This is Sparta
The End!This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!
This is Sparta
The End!

In [6]:
def fibonacci(bound):
    p = 1
    c = 1
    while c <= bound:
        p,c = c,p+c
    return c

In [7]:
fibonacci(56)

89

In [1]:
def cities():
    lst = []
    city = input('Enter city: ')
    while city != '':
        lst.append(city)
        city = input('Enter city: ')

    return lst

In [2]:
cities()

Enter city:
Enter city:
Enter city:

[' ', ' ']

In [6]:
def cities3():
    lst = []
    while True:
        city = input('Enter city: ')
        if city == '':
            break
        lst.append(city)
    return lst

In [7]:
cities3()

Enter city: fa
Enter city: sdf
Enter city:

['fa', 'sdf']

In [11]:
def ignore(table):
    for row in table:
        for num in row:
            if num == 0:
                break
            print(num, end=' ')
        print() 
table = [
  [2, 3, 0, 6],
  [0, 3, 4, 5],
  [4, 5, 6, 0]
]

In [12]:
ignore(table)

2 3

4 5 6

In [14]:
employee = {
    '864-20': ['Arm', 'Spartyan'],
    '987-65': ['Vlad', 'Tundyan'],
    '100-01': ['Kiazh', 'Damyan']}
days = {'Mo': 1, 'Tu': 2, 'Th': 4, 'W': 3}
#emp = {[1,2]:1,[2,3]:3} # error
days = {'Mo':1, 'Tu':2, 'W':3}
days2 = {'Tu':2, 'Fr':5}

In [16]:
employee['864-20']

['Arm', 'Spartyan']

In [17]:
employee['864-30']

KeyError: '864-30'

In [18]:
employee['864-20'] = 'Sparta'

In [19]:
employee['864-20']

'Sparta'

In [20]:
employee

{'100-01': ['Kiazh', 'Damyan'],
 '864-20': 'Sparta',
 '987-65': ['Vlad', 'Tundyan']}

In [21]:
print(employee)

{'864-20': 'Sparta', '987-65': ['Vlad', 'Tundyan'], '100-01': ['Kiazh', 'Damyan']}

In [22]:
employee['8-800-555-35-35'] = "Luchshe pozvonit chem u kogo to zanimat'"

In [23]:
employee

{'100-01': ['Kiazh', 'Damyan'],
 '8-800-555-35-35': "Luchshe pozvonit chem u kogo to zanimat'",
 '864-20': 'Sparta',
 '987-65': ['Vlad', 'Tundyan']}

In [24]:
empty = {}

In [25]:
type(empty)

dict

In [26]:
empty2 = dict()

In [27]:
empty2

{}

In [28]:
emptylist = []

In [29]:
emptylist

[]

In [30]:
emp = {[1,2]:1,[2,3]:3}

TypeError: unhashable type: 'list'

In [31]:
days

{'Mo': 1, 'Tu': 2, 'W': 3}

In [33]:
'Mo' in days

True

In [34]:
len(days)

3

In [35]:
days.update(days2)

In [36]:
days

{'Fr': 5, 'Mo': 1, 'Tu': 2, 'W': 3}

In [37]:
days2

{'Fr': 5, 'Tu': 2}

In [38]:
days.pop('Tu')

2

In [39]:
days

{'Fr': 5, 'Mo': 1, 'W': 3}

In [40]:
days2

{'Fr': 5, 'Tu': 2}

In [43]:
for i in days:
    print(i,days[i])

Mo 1
W 3
Fr 5

In [46]:
for i in days.items():#keys#values
    print(i)

('Mo', 1)
('W', 3)
('Fr', 5)

In [48]:
counters = {}
def frequency(itemList):
    for item in itemList:
        if item in counters:
            counters[item] += 1
        else:
            counters[item] = 1
    return counters
grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]
frequency(grades)

{85: 1, 90: 1, 95: 3, 96: 1, 100: 3}

In [52]:
counters = {}
grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]
for item in grades:
    if item in counters:
        counters[item] += 1
    else:
        counters[item] = 1

In [53]:
item

100

In [54]:
grades

[95, 96, 100, 85, 95, 90, 95, 100, 100]

In [55]:
counters

{85: 1, 90: 1, 95: 3, 96: 1, 100: 3}

In [56]:
counters[item]

3

In [16]:
import numpy as np
from numpy import mgrid as mg
import matplotlib.pyplot as plt

In [17]:
x,y = np.mgrid[-10:10:0.1,-10:10:0.1]

In [19]:
x

array([[-10. , -10. , -10. , ..., -10. , -10. , -10. ],
       [ -9.9,  -9.9,  -9.9, ...,  -9.9,  -9.9,  -9.9],
       [ -9.8,  -9.8,  -9.8, ...,  -9.8,  -9.8,  -9.8],
       ...,
       [  9.7,   9.7,   9.7, ...,   9.7,   9.7,   9.7],
       [  9.8,   9.8,   9.8, ...,   9.8,   9.8,   9.8],
       [  9.9,   9.9,   9.9, ...,   9.9,   9.9,   9.9]])

In [20]:
y

array([[-10. ,  -9.9,  -9.8, ...,   9.7,   9.8,   9.9],
       [-10. ,  -9.9,  -9.8, ...,   9.7,   9.8,   9.9],
       [-10. ,  -9.9,  -9.8, ...,   9.7,   9.8,   9.9],
       ...,
       [-10. ,  -9.9,  -9.8, ...,   9.7,   9.8,   9.9],
       [-10. ,  -9.9,  -9.8, ...,   9.7,   9.8,   9.9],
       [-10. ,  -9.9,  -9.8, ...,   9.7,   9.8,   9.9]])

In [18]:
plt.imshow(np.sin(x*y))

In [21]:
counters = {}
def frequency(itemList):
    for item in itemList:
        if item in counters:
            counters[item] += 1
        else:
            counters[item] = 1
    return counters
grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]
frequency(grades)

{85: 1, 90: 1, 95: 3, 96: 1, 100: 3}

In [30]:
x = 'To be or not to be!'

In [31]:
counters = {}
def frequency(itemList):
    for item in itemList:
        if item in counters:
            counters[item] += 1
        else:
            counters[item] = 1
    return counters
frequency(x.split(' '))

{'To': 1, 'be': 1, 'be!': 1, 'not': 1, 'or': 1, 'to': 1}

In [5]:
t = (1,2,3,'three')

In [38]:
type(t)

tuple

In [43]:
t[3]

'three'

In [44]:
'three' in t

True

In [1]:
l = [1,2,3]

In [2]:
tuple(l)

(1, 2, 3)

In [3]:
list(tuple(l))

[1, 2, 3]

In [6]:
t

(1, 2, 3, 'three')

In [7]:
emp = {(1,2):1,(2,3):3}

In [8]:
emp

{(1, 2): 1, (2, 3): 3}

In [10]:
emp[(1,2)]

1

In [11]:
t = [('a', 10), ('c', 22), ('b', 1)]

In [12]:
t.sort()

In [13]:
t

[('a', 10), ('b', 1), ('c', 22)]

In [14]:
sorted(t)

[('a', 10), ('b', 1), ('c', 22)]

In [16]:
sorted(t,reverse = True)

[('c', 22), ('b', 1), ('a', 10)]

In [17]:
d = {'a':10, 'b':1, 'c':22}

In [18]:
d,t

({'a': 10, 'b': 1, 'c': 22}, [('a', 10), ('b', 1), ('c', 22)])

In [20]:
d.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [21]:
list(d.items())

[('a', 10), ('b', 1), ('c', 22)]

In [22]:
 d

{'a': 10, 'b': 1, 'c': 22}

In [23]:
dict(list(d.items()))

{'a': 10, 'b': 1, 'c': 22}

In [24]:
d

{'a': 10, 'b': 1, 'c': 22}

In [31]:
sorted(d.items())

[('a', 10), ('b', 1), ('c', 22)]

In [35]:
l = []
for k,v in d.items():
    print(k,v)
    l.append((v,k))

a 10
b 1
c 22

In [36]:
l

[(10, 'a'), (1, 'b'), (22, 'c')]

In [37]:
dict(l)

{1: 'b', 10: 'a', 22: 'c'}

In [40]:
sorted(dict(l).items())

[(1, 'b'), (10, 'a'), (22, 'c')]

In [4]:
l = []
counters = {}
with open('therepublic.txt','r') as t:
    s = t.read()
    for i in s.split(' '):
        if i in counters:
            counters[i] += 1
        else:
            counters[i] = 1
for k,v in counters.items():
    l.append((v,k))
sorted(dict(l).items(), reverse = True)[:10]

[(12519, 'the'),
 (9014, 'of'),
 (7183, 'and'),
 (5233, 'to'),
 (3991, 'is'),
 (3769, 'in'),
 (3426, 'a'),
 (2622, 'he'),
 (2559, 'be'),
 (2359, 'that')]

In [20]:
x = {6,23,267}

In [21]:
type(x)

set

In [23]:
empty_s = set()

In [24]:
type(empty_s)

set

In [39]:
ages = [24,62,25,62,24]
ss = set(list(set(ages)))
ss.add(4)

In [40]:
ss

{4, 24, 25, 62}

In [41]:
ss.remove(4)

In [42]:
ss

{24, 25, 62}

In [12]:
import matplotlib.pyplot as plt
import numpy as np

from numpy import linspance
from mpl_toolkits.mplot3d.axes3d import Axes3D

X,Y = np.meshgrid(phi_p, phi_m)
Z = flux_qubit_potential(X, Y).T
phi_m = np.linspace(0, 2*np.pi, 100)
phi_p = np.linspace(0, 2*np.pi, 100)

fig = plt.figure(figsize=(14,6))

ax = fig.add_subplot(1, 2, 1, projection='3d')

p = ax.plot_surface(X, Y, Z, rstride=4, cstride=4, linewidth=0)

ax = fig.add_subplot(1, 2, 2, projection='3d')
p = ax.plot_surface(X, Y, Z, rstride=1, cstride=1, cmap=matplotlib.cm.coolwarm, linewidth=0, antialiased=False)
cb = fig.colorbar(p, shrink=0.5)

ImportError: cannot import name 'linspance'